#footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  width: 100%;

  padding-block: 5%;
}
#footer .f-detail {
  margin-block: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
}
#footer .subject,
#footer .pages,
#footer .support,
#footer .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#footer li {
  text-decoration: none;
  list-style-type: none;
}
#footer .imgw {
  filter: invert(100%);
}
#footer .imgf{
  display:flex;
  gap: 1em;
  padding-top: 1em;
  justify-content: space-between;
}
#footer .f{
  filter: invert(100%);
}